
$primary-color: #1e555c;
$secondary-color: #3a2e39;
$font-titles: Helvetica, sans-serif;


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    h1 {
        color: $primary-color;
        font: 3em $font-titles;
    }

    nav {
        width: 36%;
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: $secondary-color;
            font-size: 1.2em;
        }

        a:hover {
            font-weight: 800;
            transition: 0.5s ease-in;
        }
    }


}



h2, h3 {
    color: $secondary-color;
    font: 2em $font-titles;
}

body {
    margin: 2em;
}